* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightblue;
}

/* PokeDex css codes */
#pokedex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    border: 2px solid black;
    border-radius: 50%;
    background: #fff;
    height: 150px;
    width: 150px;
}

.img_container {
    background: red;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    border-width: 2px 2px 0px 2px;
    height: 270px;
    width: 370px;
}

.info {
    display: flex;
    flex-direction: column;
    background: white;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    height: 230px;
    width: 370px;
    padding: 20px;
}

.name,
.type {
    align-items: center;
    text-transform: capitalize;
}

.name,
.type {
    margin-left: auto;
    margin-right: auto;
}

.stats_container {
    display: flex;
    align-items: center;
    margin-top: 3em;
    text-transform: capitalize;
    justify-content: space-around;
}

.stats_container,
p {
    font-size: 15px;
}

.shiny_img {
    border: none;
    background-color: red;
    padding: 4px;
    height: 25px;
    width: 25px;
}

.shiny_img img {
    height: 50px;
    width: 50px;
}

/* Hiddes objekts */
.hide {
    display: none !important;
}

/* Css style for Input and the search button */
input {
    width: 400px;
    height: 40px;
    padding: 5px;
    align-items: center;
    margin-top: 100px;
    border: none;
    border-radius: 5px 0 0 5px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(211, 39, 39);
}

#btn {
    margin-left: 440px;
    margin-top: -40px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: rgb(147, 204, 223);
    background: rgb(211, 39, 39);
}

.btn:hover {
    background: rgb(187, 35, 35);
    transition: 0.5s ease-in-out;
}
 
button:focus {
    cursor: pointer;
}
